
<div id="impress">


    <div class="step slide" data-x="0" data-y="0" data-z="-1000">
    </div>

    <div class="step slide" data-x="0" data-y="-250" data-z="-2000">
      <img id="stef" src="img/victim.png">
    </div>
    
    <div class="step slide" data-x="0" data-y="-500" data-z="-3000">
      <img id="tree" src="img/tree.png">
    </div>

    <div class="step slide" data-x="0" data-y="-750" data-z="-4000">
    </div>

    <div  class="step slide" data-x="0" data-y="-1000" data-z="-5000">
    </div>

    <div id="finishline" class="step slide" data-x="0" data-y="-1250" data-z="-6000">
      <img src="img/finishline.jpg">
    </div>
</div>

<div id="car">
  <img id="wheel" src="img/wheel.png">
</div>

<script src="js/impress.js"></script>
<script>impress().init();</script>
